<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Book list</h2>
    <p>This is books list of our library. You can delete, edit or remove any book and also can add a new book.</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id()}">1</td>
            <td th:text="${book.title()}">Book_1</td>
            <td th:text="${book.author().fullName()}">Author_1</td>
            <td th:text="${book.genre().name()}">Genre_1</td>
            <td>
                <form action="books.html" th:action="@{/book/{id}/comments(id=${book.id()})}" th:method="get">
                    <button type="submit" class="btn btn-link">Comments</button>
                </form>
                <form action="#" th:action="@{/book/{id}(id=${book.id()})}" th:method="get">
                    <button type="submit" class="btn btn-link">Edit</button>
                </form>
                <form action="#" th:action="@{/book/{id}(id=${book.id()})}" th:method="delete">
                    <button type="submit" class="btn btn-link">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/book" class="btn btn-primary" role="button">Create new book</a>

</div>
</body>
</html>
