<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Book list</h2>
    <p>This is books list of our library. You can delete, edit or remove any book and also can add a new book.</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id()}">1</td>
            <td th:text="${book.title()}">Book_1</td>
            <td th:text="${book.author().fullName()}">Author_1</td>
            <td th:text="${book.genre().name()}">Genre_1</td>
            <td>
                <form action="#" th:action="@{/book/{id}/comments(id=${book.id()})}" th:method="get">
                    <button type="submit" class="btn btn-link">Comments</button>
                </form>
                <form action="#" th:action="@{/book/{id}(id=${book.id()})}" th:method="patch">
                    <button type="submit" class="btn btn-link">Edit</button>
                </form>
                <form action="#" th:action="@{/book/{id}(id=${book.id()})}" th:method="delete">
                    <button type="submit" class="btn btn-link">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h4>New Book:</h4>
    <form class="form-inline" action="books.html" th:method="post" th:action="@{/book/add}">
        <div class="form-group">
            <label for="title-input">Title</label>
            <input type="text" class="form-control" id="title-input" name="title" placeholder="Enter book title">
            <label for="author-input">Select author:</label>
            <select class="form-control" id="author-input" name="authorId">
                <option value="0">select author</option>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"/>
            </select>
            <label for="genre-input">Select genre:</label>
            <select class="form-control" id="genre-input" name="genreId">
                <option value="0">select genre</option>
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"/>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
