<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h4>Comment edit:</h4>
    <form class="form-inline" action="comment-edit.html" th:method="post" th:action="@{/book/{bookId}/comment/{id}(bookId=${bookId},id=${comment.id()})}">
        <div class="form-group">
            <label for="id-input">ID:</label>
            <input type="text" class="form-control" id="id-input" th:value="${comment.id()}" readonly="readonly">

            <label for="title-input">Content:</label>
            <input type="text" class="form-control" id="title-input" name="content" th:value="${comment.content()}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>