<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error was occurred!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading"><strong>ERROR CODE: 500 - </strong>Internal server error!</div>
        <div class="panel-body">
            <span th:text="${errorMessage}">Error message</span>
        </div>
    </div>
    <a th:href="@{/books}" class="btn btn-primary btn-sm" role="button">Back to book list</a>
</div>

</body>
</html>